@tailwind base;
@tailwind components;
@tailwind utilities;

.text-muted {
  @apply text-gray-400;
}

.bg-clip-text {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-bold-white strong,
.text-bold-white b {
  color: white;
}
